<!{% load static from staticfiles %}-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="LAB 4">
    <meta name="author" content="{{author}}">
    <!-- bootstrap csss -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- <link href="{% static 'lab_4/css/lab_4.css' %}" rel="stylesheet"> -->
    <title> 
        {% block title %} Lab 4 By {{author}}{% endblock %}
    </title>
</head>

<style type="text/css">
	body {
		margin:0; 
		/*min-height: 2000px;*/
		background: #ecf0f1;
	}

	.navbar-static-top {
		margin-bottom: 19px;
	}
	/*Textarea not resizeable*/
	textarea {
		resize:none
	}

	section {
		text-align: center;
	}

	h2 {
		line-height: 20px;
		margin: 0;
		color: #121d1f;
		/*font-weight: 400;*/
		margin-bottom: 15px;
		/*font-size: 34px;*/
	}

	ul {
	  list-style-type: none;
	  padding: 0;
	}


	/*Garis pembatas*/
	hr.garisjudul {
		height: 4px;
		width: 100px;
		text-align: center;
		position: relative;
		background: #F03861;
		margin: 0 auto;
		margin-bottom: 10px;
		border: 0;
	}

	hr.biasa {
		height: 1px;
		background: white;
		margin-bottom: 30px;
		-webkit-box-shadow: 0px 3px 10px rgba(50, 50, 50, 0.75);
		-moz-box-shadow:    0px 3px 13px rgba(50, 50, 50, 0.75);
		box-shadow:         0px 3px 13px rgba(50, 50, 50, 0.75);
	}


	/*My photos in homepage*/
	img, .img-responsive
	 {
	 	display: block;
	 	max-width: 100%;
	 	height: auto;
	 	border-radius: 50%;
	 	width: 200px;
	 	height: 200px;
	 	display: inline-block;

	}

	@media (min-width: 768px){
		.author {
		margin-left: 100px;
		}
	}

</style>


<body>
    <header>
        {% include "lab_4/partials/header.html" %}
    </header>
    <content>
        <div class="container">
            {% block content %}
                <!-- content goes here -->
            {% endblock %}
        </div>

    </content>
    <footer>
        <!-- TODO Block Footer dan include footer.html -->
        {% block footer %}
        {% include "lab_4/partials/footer.html" %}
        {% endblock %}
    </footer>

    <!-- Jquery n Bootstrap Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
