{% extends "lab_4/layout/base.html" %}
{% load static from staticfiles %}
{% block content %}

<h1 style="text-align: center">Portofolio</h1>
<hr class="garisjudul" />
<section name="bio">
    <!-- <h2>Bio</h2> -->
    <img src="https://lh6.googleusercontent.com/PgUsq5dmsE1VGgdUUl5oLLi8Wpp2drkdZLyICb_km4rcq6pt-Bs1gYlxNUNBGiHT0phdAajQ=w1366-h647" class="img-responsive">
    <h3> {{author}} </h3>
    <p>
        {{content}}
    </p>    
</section>
<hr class="biasa" />

<section name="about_me">
    <h2>List</h2>
    <hr class="garisjudul" />
    <ul>
        {% for ii in about_me %}
        <li> {{ ii }} </li>
        {% endfor %}
    </ul>
</section>
<hr class="biasa" />

<section name="form">
    <h2>Send Message</h2>
    <hr class="garisjudul" />
    <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
        {% csrf_token %}
        {{ message_form }}
        <br>

        {% if form_errors is not None %}
        <div class="container">
            {% for error_field, error_message in form_errors.items %}
            <p>Error pada {{error_field}}: {{error_message}}</p>
            {% endfor %}
        </div>
        {% endif %}

        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</section>

{% endblock %}