body {
	margin:0;
	/*min-height: 2000px;*/
	background: #FFF8D2;
}

.navbar-static-top {
	margin-bottom: 19px;
}
/*Textarea not resizeable*/
textarea {
	resize:none
}


h1 {
	text-align: center;
	/*font-weight: 700;*/
}

section {
	text-align: center;
}

h2 {
	line-height: 20px;
	margin: 0;
	color: #121d1f;
	/*font-weight: 400;*/
	margin-bottom: 30px;
	/*font-size: 34px;*/
}

ul {
  list-style-type: none;
  padding: 0;
}


/*Garis pembatas*/
hr {
	height: 4px;
	width: 100px;
	text-align: center;
	position: relative;
	background: #F03861;
	margin: 0 auto;
	margin-bottom: 30px;
	border: 0;
}


/*My photos in homepage*/
img, .img-responsive
 {
 	display: block;
 	max-width: 100%;
 	height: auto;
 	border-radius: 50%;
 	width: 200px;
 	height: 200px;
 	display: inline-block;

}

@media (min-width: 768px){
	.author {
	margin-left: 100px;
	}
}
